.home {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3D4956, #000);
}

.login, .register, .results {
    -fx-background-color: #3D4956;
}

.game {
    -fx-background-color: #526274;
}

.relax {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #999B84, FFC996);
}

.login .label, .register .label {
    -fx-text-fill: #f1f1f1;
    -fx-font-size: 18px;
}

.login .header, .register .header {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.title {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f1f1;
}

.infoLabel {
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-text-fill: #f1f1f1;
}

.button {
    -fx-background-color: #526274;
    -fx-text-fill: #f1f1f1;
    -fx-background-radius: 5px;
    -fx-min-height: 50px;
    -fx-min-width: 140px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.secondaryButton {
    -fx-background-color: #3D4956;
}

.answerButton {
    -fx-border-color: #f1f1f1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.question {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f1f1;
}

.feedback {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.table-view,
.table-view .column-header-background .filler,
.table-view .column-header-background .label,
.table-view .corner,
.table-view .table-cell,
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: #f1f1f1;
    -fx-font-size: 16px;
}

.table-view .table-cell {
    -fx-text-fill:  #f1f1f1;
    -fx-font-size: 16px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #3D4956, #93f9b944);
    -fx-padding: 5px;
}

.table-view .table-cell {
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #81c483;
}
