.home {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3D4956, #000);
}

.login, .register {
    -fx-background-color: #3D4956;
}

.game {
    -fx-background-color: #526274;
}

.login .label, .register .label {
    -fx-text-fill: #f1f1f1;
    -fx-font-size: 18px;
}

.login .header, .register .header {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.title {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f1f1;
}

.button {
    -fx-background-color: #526274;
    -fx-text-fill: #f1f1f1;
    -fx-background-radius: 5px;
    -fx-min-height: 50px;
    -fx-min-width: 150px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.secondaryButton {
    -fx-background-color: #3D4956;
}

.answerButton {
    -fx-border-color: #f1f1f1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.question {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1f1f1;
}

.feedback {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}

.correct {
    -fx-text-fill: #a6b401;
}

.incorrect {
    -fx-text-fill: #d50102;
}